.form-control {
  background-color: #ececec;
  border: 0px solid #ced4da;
  border-radius: 9px;
  padding: 10px;
  font-size: 1rem;
  color: #495057;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-append {
  margin-left: -1px; /* Adjust spacing between input and append */
}

.input-group-append-login {
  margin-left: -1px; /* Adjust spacing between input and append */
}

.input-group-text {
  background-color: #ececec;
  border: 0px solid #ced4da;
  border-radius: 9px;
  padding: 10px 12px; /* Adjust padding for the @ symbol */
  font-size: 1rem;
  color: #495057;
}

.select-control {
  width: 100%; /* Adjust the width as needed */
  background-color: #ececec;
  border: 0px solid #ced4da;
  border-radius: 9px;
  padding: 10px;
  font-size: 1rem;
  color: #333; /* Text color */
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition for border color and box shadow */
}

.select-control:focus {
  border-color: #c2dbfe; /* Border color on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 0.25rem rgba(194, 219, 254); /* Box shadow on focus */
}
.icon {
  fill: #d1dbff; /* Initial color */
  transition: fill 0.3s ease;
}

.icon-button:hover .icon {
  fill: #ffffff; /* Color on hover */
}
.file-upload {
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  text-align: center;
  border: 3px dashed rgb(210, 227, 244);
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
  border-radius: 15px; /* Makes the corners rounded */
  box-sizing: border-box; /* Ensures padding is included in the element's width and height */
  width: 100%; /* Makes the element fill the available width */
  height: 100%; /* Makes the element fill the available height */
}

.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #bbcada;
}

.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

/* button reset hover white */
.btn-hover-white:hover {
  color: white !important;
}
.slideInLeft {
  transform: translateX(0);
}

.slideOutLeft {
  transform: translateX(-100%);
}
.active {
  background-color: #ffffff;
  border-radius: 9px;
  color: #4a00ff;
}
